# Deployment
# Private key for the deployer account (mainnet/testnet), with prefix 0x
# This account will own the deployed contracts
PRIVATE_KEY_DEPLOYER=0xPRIVATE_KEY_DEPLOYER

# Testing
# Private key for test user account (for simulating user positions), with prefix 0x
PRIVATE_KEY_USER=0xPRIVATE_KEY_USER

# RPC URLs
# HTTP RPC endpoint for Sepolia testnet
SEPOLIA_RPC_URL=RPC_URL
# HTTP RPC endpoint for Mainnet testnet
MAINNET_RPC_URL=RPC_URL

# API Keys
# Etherscan API key for contract verification
ETHERSCAN_API_KEY=API_KEY

# Tenderly (If testing in simulated Virtual TestNet)

# Admin RPC URL for Tenderly Virtual TestNet (for time manipulation)
TENDERLY_VIRTUAL_TESTNET_ADMIN=ADMIN_URL

# Public RPC URL for Tenderly Virtual TestNet deployment
TENDERLY_VIRTUAL_TESTNET_RPC_URL=YOUR_VIRTUAL_TESTNET_RPC_URL

# Contract verification URL for Tenderly Virtual TestNet
TENDERLY_VERIFIER_URL=YOUR_VIRTUAL_TESTNET_RPC_URL/verify/

# Tenderly access key for authentication
TENDERLY_ACCESS_KEY=YOUR_ACCESS_KEY
